{% extends 'base_sistema.html' %} {% block title %}Alumnos - Panel Docente{% endblock %} {% block content %}
<p>Bienvenido,{{ nombre_profesor }}. Aquí puedes ves los datos de los alumnos.</p>
<h1>Listado de Alumnos </h1>
<div id="grupo-botones">
    <button type="button" onclick="abrirModal('exportar-pdf')">Exportar listado pdf</button>
    <button type="button" onclick="abrirModal('exportar-csv')">Exportar listado csv</button>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Padron</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.NOMBRE }} {{ alumno.APELLIDO }}</td>
            <td>{{ alumno.MAIL }}</td>
            <td>{{ alumno.PADRON }}</td>
            {% if alumno.ABANDONO %}
                <td>Abandonó<td>
            {% else %}
                <td>Cursando</td>                
            {% endif %}
        </tr>
        {% endfor %}
</table>
</tbody>
{%endblock%}