{% extends "base_sistema.html" %}

{% block content %}

<div id="contenedor-asistencia">

    <h1>Asistencia</h1>

    <div id="contenedor-clases">

        <div>
            <h3>Clase 13/05</h3>
            <p>Prof. X</p>
            <p>Finalizado</p>
            <button>Generar QR</button>
        </div>

        <div>
            <h3>Clase 20/05</h3>
            <p>Prof. X</p>
            <p>Finalizado</p>
            <button>Generar QR</button>
        </div>

        <div>
            <h3>Clase 27/05</h3>
            <p>Prof. X</p>
            <p>Finalizado</p>
            <button>Generar QR</button>
        </div>

    </div>

</div>

{% endblock %}