<!DOCTYPE html>
<html lang="es">
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Universitario{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
</head>
<body>

    <div id="menu-superior">
        <strong>Panel Docente</strong>
    </div>

    <div id="contenedor-principal">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>2026 - Introducción al Desarrollo de Software - Grupo 7</p>
        <p id="texto-footer">
            Facultad de Ingeniería - UBA
        </p>
    </footer>

</body>
</html>