 {% extends 'base_sistema.html' %} {% block title %}Alumnos - Panel Docente{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/detalle_grupo.css') }}">
<main>
    <h1>Grupo {{ID}}</h1>
    <!-- asignar parametro de id, para que modifique segun grupo-->
    <p>Integrantes del grupo</p>

    <section>
        {% for alumno in integrantes %}
        <a href="{{ url_for('menu_principal', nombre_profesor=nombre_profesor) }}">
            <img src="{{ url_for('static', filename='vilma.png')}}" alt="Avatar">
            <span>{{alumno['NOMBRE']}} (Padrón: {{ alumno['PADRON'] }})</span>
        </a>
        {% endfor %}
    </section>
    <dialog id="modal-eliminar">
        <h3> Eliminar Integrante</h3>
        <form id="form-crear" method="POST" action="{{ url_for('ver_grupo',id=ID,  nombre_profesor=request.args.get('nombre_profesor', '')) }}">
            <label for="eliminar">Introduzca el padron del integrante:</label>
            <input type="number" id="nombre" name="eliminar">
            <div id="modal-botones-contenedor">
                <button type="submit" id="btn-modal-guardar">Eliminar</button>
                <button type="button" onclick="document.getElementById('modal-eliminar').close()">Cancelar</button>
            </div>
        </form>
    </dialog>
</main>
{% endblock %}