 {% extends 'base_sistema.html' %} {% block title %}Alumnos - Panel Docente{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/detalle_grupo.css') }}">
<main>
    <h1>Grupo {{ID}}</h1>
    <p>Integrantes del grupo</p>
    <button type="button" id="boton-eliminar-integrante" onclick="document.getElementById('eliminar-integrante').showModal()">Eliminar integrante</button>
    <section>
        {% for alumno in integrantes %}
        <a href="{{ url_for('perfil_alumno', padron=alumno['PADRON'], nombre_profesor=nombre_profesor) }}">
            <img src="{{ url_for('static', filename='vilma.png')}}" alt="Avatar">
            <span>{{alumno['NOMBRE']}} (Padrón: {{ alumno['PADRON'] }})</span>
        </a>
        {% endfor %}
    </section>
    <dialog id="eliminar-integrante">
        <h3>Eliminar Integrante</h3>
        <form id="form-eliminar-integrante" method="POST" action="{{ url_for('ver_grupo',id=ID, nombre_profesor=request.args.get('nombre_profesor', '')) }}">
            <label for="padron-eliminar">Introduzca el padron del integrante:</label>
            <input type="number" id="padron-eliminar" name="eliminar">
            <div id="botones-contenedor">
                <button type="submit" id="boton-eliminar">Eliminar</button>
                <button type="button" id="boton-cancelar" onclick="document.getElementById('eliminar-integrante').close()">Cancelar</button>
            </div>
        </form>
    </dialog>
</main>
{% endblock %}