 {% extends 'base_sistema.html' %} {% block title %}Alumnos - Panel Docente{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/grupos.css') }}">
<!--contenedor principal-->
<main>
    <h1>Listado de Grupos</h1>
    <p>Seleccione un grupo para ver los integrantes</p>
    <!--crear nuevo grupo-->
    <div id="contenedor-boton">
        <button id="boton-eliminar" type="button" onclick="document.getElementById('modal-eliminar').showModal()">Eliminar grupo</button>

        <button id="boton-crear" type="button" onclick="document.getElementById('modal-crear').showModal()">Crear nuevo grupo </button>
    </div>
    <dialog id="modal-crear">
        <h3>Crear nuevo grupo</h3>
        <form id="form-crear" method="POST" action="{{url_for('seccion_grupos')}}">
            <label for="crear">Nombre del Nuevo Grupo:</label>
            <input type="text" id="nombre" name="crear">
            <div id="modal-botones-contenedor">
                <button type="submit" id="btn-modal-guardar">Guardar</button>
                <button type="button" onclick="document.getElementById('modal-crear').close()">Cancelar</button>
            </div>
        </form>
    </dialog>
    <!--eliminar grupo grupo-->
    <dialog id="modal-eliminar">
        <h3> Eliminar Grupo</h3>
        <form id="form-crear" method="POST" action="{{ url_for('seccion_grupos', nombre_profesor=request.args.get('nombre_profesor', '')) }}">
            <label for="eliminar">Introduzca el id del grupo:</label>
            <input type="number" id="nombre" name="eliminar">
            <div id="modal-botones-contenedor">
                <button type="submit" id="btn-modal-guardar">Eliminar</button>
                <button type="button" onclick="document.getElementById('modal-eliminar').close()">Cancelar</button>
            </div>
        </form>
    </dialog>
    <table id="tabla-grupos">
        <tbody>
            {%for grupo in grupos%} {%set grupoUrl = url_for('ver_grupo',id=grupo['ID'], nombre_profesor=request.args.get('nombre_profesor', '')) %}
            <tr>
                <td>
                    <p>{{grupo['ID']}}</p>
                </td>
                <td>
                    <a href="{{ grupoUrl }}"> Grupo {{ grupo['NOMBRE'] }} </a>
                    <form method="POST" action="{{ url_for('seccion_grupos', nombre_profesor=request.args.get('nombre_profesor', '')) }}">
                        <input type="hidden" name="grupo_id" value="{{ grupo['ID'] }}">
                        <input type="number" name="padron_asignar" placeholder="Padrón">
                        <button type="submit" id="btn-modal-guardar">Agregar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}