{% extends 'base_sistema.html' %}

{% block title %}Inicio - Panel Docente{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/menu.css') }}">

<h1>Bienvenido, Profesor</h1>

<p>Seleccione una opción para gestionar la materia:</p>

<form id="buscador-secciones" action="{{ url_for('buscar_seccion') }}" method="GET">

    <input
        type="hidden"
        name="nombre_profesor"
        value="{{ nombre_profesor }}">
        
    <input 
        id="entrada-busqueda"
        name="busqueda"
        placeholder="Buscar sección..." >

</form>

{% if error_busqueda %}
<p id="mensaje-error"> La sección ingresada no existe. </p>
{% endif %}


<!-- Contenedor principal de tarjetas -->
<div id="contenedor-tarjetas">

    <!-- Tarjeta 1 -->
    <div>
        <h2>👥 Usuarios</h2>

        <p>
            Gestion de usuarios del sistema y registros.
        </p>
        <a href="{{ url_for('seccion_usuarios', nombre_profesor=nombre_profesor) }}">
            Usuarios
        </a>
    </div>

    <!-- Tarjeta 2 -->
    <div>
        <h2>🎓 Alumnos</h2>
        <p>
            Control de estudiantes y sus datos.
        </p>
        <a href="{{ url_for('seccion_alumnos', nombre_profesor=nombre_profesor) }}">
            Alumnos
        </a>
    </div>

    <!-- Tarjeta 4 -->
    <div>
        <h2>👨‍👩‍👧‍👦 Grupos</h2>

        <p>
            Control de equipos y participantes.
        </p>

        <a href="{{ url_for('seccion_grupos', nombre_profesor=nombre_profesor) }}">
            Grupos
        </a>
    </div>

    <!-- Tarjeta 5 -->
    <div>
        <h2>📝 Evaluaciones</h2>
        <p>
            Control de examenes y resultados.
        </p>
        <a href="{{ url_for('seccion_evaluaciones', nombre_profesor=nombre_profesor) }}">
            Evaluaciones
        </a>
    </div>

    <!-- Tarjeta 6 -->
    <div>
        <h2>📊 Notas</h2>
        <p>
            Control de calificaciones y estadísticas.
        </p>
        <a href="{{ url_for('seccion_notas', nombre_profesor=nombre_profesor) }}">
            Notas
        </a>
    </div>

    <!-- Tarjeta 7 -->
    <div>
        <h2>✅ Asistencias</h2>
        <p>
            Control de asistencias y clases.
        </p>
        <a href="{{ url_for('seccion_asistencias', nombre_profesor=nombre_profesor) }}">
            Asistencias
        </a>    
    </div>

    

{% endblock %}