{% extends 'base.html' %}

{% block title %}Inicio - Panel Docente{% endblock %}

{% block content %}

<h1>Bienvenido, Profesor</h1>

<p>Seleccione una opción para gestionar la materia:</p>

<div id="contenedor-tarjetas">

    <div>
        <h2>Gestión de Alumnos</h2>

        <p>
            Vea el listado de estudiantes, cargue notas de parciales y condiciones.
        </p>

        <a href="{{ url_for('seccion_alumnos') }}">
            Ingresar
        </a>
    </div>

    <div>
        <h2>Asistencia</h2>

        <p>
            Registro de presencias, ausentes e historial de clases de la cursada.
        </p>

        <a href="#">
            Próximamente
        </a>
    </div>

    <div>
        <h2>Ayudantes</h2>

        <p>
            Control de usuarios auxiliares y ayudantes asignados a la cátedra.
        </p>

        <a href="#">
            Próximamente
        </a>
    </div>

</div>

{% endblock %}