{% extends 'base_sistema.html' %}

{% block title %}Usuarios - Panel Docente{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/usuarios.css') }}">
<h1 style="text-align: center;">Listado de Usuarios</h1>
<p style="text-align: center;">Administre los usuarios del sistema, incluyendo docentes y alumnos.</p>
<!-- Caja para dar estilo a los botones -->
<div id="grupo-botones">
    <button type="button" onclick="abrirModal('crear')">Crear Usuario</button>
    <button type="button" onclick="abrirModal('eliminar')">Eliminar Usuario</button>
</div>
<dialog id="modal-crear">
    <h3>Crear Nuevo Usuario</h3>
    <form id="form-crear" method="POST" action="/crear_usuario">
        <label>Nombre de Usuario:</label>
        <input type="text" name="nombre" placeholder="usuario" required>
        <label>Contraseña:</label>
        <input type="password" name="contrasenia" placeholder="0123456789" required>
        <div>
            <button type="submit">Guardar</button>
            <button type="button" onclick="cerrarModal('crear')">Cancelar</button>
        </div>
    </form>
</dialog>

<dialog id="modal-eliminar">
    <h3>Eliminar Usuario</h3>
    <p>Introduce el ID del usuario que deseas dar de baja y confirma la acción.</p>
    
    <form id="form-eliminar" method="POST" action="/eliminar_usuario">
        <label>ID:</label>
        <input type="text" name="eliminar-usuario-id" placeholder="Ej: 1042" required>
        <label>Confirmación:</label>
        <input type="text" id="confirmar-palabra" placeholder="Escribe ELIMINAR" required>
        <div>
            <button type="submit" id="btn-eliminar-submit" disabled>Eliminar permanentemente</button>
            <button type="button" onclick="cerrarModal('eliminar')">Cancelar</button>
        </div>
    </form>
</dialog>
<!-- Tabla tradicional -->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <!-- <th>Email</th>
            <th>Rol</th> -->
            <th>Historiales</th> 
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.ID_USUARIO }}</td>
            <td>{{ usuario.NOMBRE }}</td>
            <!-- <td>{{ usuario.Email }}</td> -->
            <!-- <td>{{ usuario.Rol }}</td> -->
            <td><a href="#">Ver Historial</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{{ url_for('static', filename='javascript/usuarios.js') }}"></script>
{% endblock %}