{% extends 'base_sistema.html' %}

{% block title %}Usuarios - Panel Docente{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/users.css') }}">
<h1>Listado de Usuarios</h1>
<p>Administre los usuarios del sistema, incluyendo docentes y alumnos.</p>
<!-- Caja para dar estilo a los botones -->
<div id="grupo-botones">
    <button>Agregar Usuario</button>
    <button id="delete-button">Eliminar Usuario</button>
</div>
<!-- Tabla tradicional -->
<table id="users-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Historial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
            <td>juan.perez@example.com</td>
            <td>Docente</td>
                <td><a href="#">Ver Historial</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria López</td>
            <td>maria.lopez@example.com</td>
            <td>Alumno</td>
                <td><a href="#">Ver Historial</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Carlos Gómez</td>
            <td>carlos.gomez@example.com</td>
            <td>Alumno</td>
                <td><a href="#">Ver Historial</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}